img {
	height:125;
	width:125;
	
}
body {
    display: grid;
    justify-content: center;
	background-color:violet;
	
}
form{
	display: grid;
	gap:50px;
}


legend{
	font-size:25;
	
}
